/* This file is for your main application css. It will be compiled to app.css, which is then loaded by esbuild. */
@import "../node_modules/nprogress/nprogress";
@import "_bootstrap_custom.scss";

$bootstrap-icons-font-dir: "/fonts/bootstrap-icons/";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "live/idea_live/_index_component.scss";

.footer {
  height: 40px;
}

.nav-mindwendel-logo {
  height: 35px;
}

// Taken from the examples shown:
// https://icons.getbootstrap.com/icons/arrow-up-circle/
button .bi,
a .bi {
  vertical-align: 0.1em;
}

.bg-mindwendel {
  background-image: url("/images/mindwendel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert:empty {
  display: none;
}