/* This file is for your main application css. It will be compiled to app.css, which is then loaded by esbuild. */
@import "nprogress/nprogress";
@import "_bootstrap_custom.scss";

$bootstrap-icons-font-dir: "/fonts/bootstrap-icons/";

@import "bootstrap-icons/font/bootstrap-icons";
@import "live/idea_live/_index_component.scss";

@import "live/brainstorming_live/_show.scss";

.footer {
  height: 40px;
}

.nav-mindwendel-logo {
  height: 35px;
}

.nav-mindwendel-back {
  height: 14px;
  width: 21px;
  margin-right: 5px;
}

.nav-mindwendel-caption {
  margin-right: var(--bs-navbar-brand-margin-end);
}

.nav-mindwendel-caption a {
  text-decoration: none;
  color: var(--bs-navbar-color);
}

.idea-add-button {
  width: 50px;
  height: 50px;
  font-size: 22px;
}

.nav-mindwendel-back {
  height: 14px;
  width: 21px;
  margin-right: 5px;
}

.nav-mindwendel-caption {
  margin-right: var(--bs-navbar-brand-margin-end);
}

.nav-mindwendel-caption a {
  text-decoration: none;
  color: var(--bs-navbar-color);
}

.idea-add-button {
  width: 50px;
  height: 50px;
  font-size: 22px;
}

// Taken from the examples shown:
// https://icons.getbootstrap.com/icons/arrow-up-circle/
button .bi,
a .bi {
  vertical-align: 0.1em;
}

.bg-mindwendel {
  background-image: url("/images/mindwendel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* LiveView specific classes for your customizations */

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert:empty {
  display: none;
}

.form-control-color {
  max-width: 50px;
}

.heading-error {
  font-size: 8rem;
}

.lane-header {
  display: inline-block;
  margin-left: 16px;
}

.lane {
  border: 1px dashed $gray-400;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 16px;
  height: 100%;
}

.form-control-color {
  max-width: 50px;
}

.heading-error {
  font-size: 8rem;
}
