/* Import files: */
@import "./kits/theme.scss";
// @import "../node_modules/quill/dist/quill.snow";
// @import "./colorpicker.scss";
// @import "./editor.scss";
// @import "./feather-icons.scss";

alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.text-box {
    border: 1px solid #00a3d3;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    min-height: 100px;
}

.invalid-feedback {
    margin: 0px;
}

a {
    word-break:break-all;
}

.text-box img {
    width: 100%;
}