%bi-icon-before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%bi-check-circle-fill-before {
  &::before {
    content: "\f26a";
  }
}

%bi-plus-circle-fill-before {
  &::before {
    content: "\f4d2";
  }
}

%bi-circle-fill-before {
  &::before {
    content: "\f287";
  }
}

%bi-x-circle-fill-before {
  &::before {
    content: "\f5e6";
  }
}

.IndexComponent__IdeaLabel {
  @mixin ideaLabel($label, $label_color) {
    &--#{$label} {
      @extend %bi-icon-before;
      @extend %bi-circle-fill-before;

      color: $label_color;

      &:hover {
        @extend %bi-plus-circle-fill-before;
      }

      &--active {
        @extend %bi-icon-before;
        @extend %bi-check-circle-fill-before;
        color: $label_color;
        &:hover {
          @extend %bi-x-circle-fill-before;
        }
      }
    }
  }

  @include ideaLabel(label_1, red);
  @include ideaLabel(label_2, blue);
  @include ideaLabel(label_3, orange);
  @include ideaLabel(label_4, green);
  @include ideaLabel(label_5, pink);
}
