<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" >
    <%= csrf_meta_tag() %>
    <.live_title>
      <%= assigns[:page_title] || "Mindwendel" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={ Routes.static_path(@conn, "/assets/kits.css") }/>
    <script defer phx-track-static type="text/javascript" src={ Routes.static_path(@conn, "/assets/app.js") }></script>

    <link rel="apple-touch-icon" sizes="180x180" href={ Routes.static_path(@conn, "/apple-touch-icon.png") } >
    <link rel="icon" type="image/png" sizes="32x32" href={ Routes.static_path(@conn, "/favicon-32x32.png") }>
    <link rel="icon" type="image/png" sizes="16x16" href={ Routes.static_path(@conn, "/favicon-16x16.png") }>
    <link rel="manifest" href={ Routes.static_path(@conn, "/site.webmanifest") }>
    <link rel="mask-icon" href={ Routes.static_path(@conn, "/safari-pinned-tab.svg") } color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>
    <%= @inner_content %>
  </body>
</html>
