<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
    />
    <%= csrf_meta_tag() %>
    <.live_title>
      <%= assigns[:page_title] || "Mindwendel" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>

  <body class="bg-light">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom mb-2">
      <div class="container">
        <%= if admin_route(@conn) do %>
          <span class="nav-mindwendel-caption">
            <%= link to: Routes.brainstorming_show_path(@conn, :show, assigns[:brainstorming]) do %>
              <img
                src={Routes.static_path(@conn, "/images/back.svg")}
                class="nav-mindwendel-back"
              />
              <%= gettext("Back") %>
            <% end %>
          </span>
        <% else %>
          <%= link to: "/", class: "navbar-brand mb-0 h1" do %>
            <img
              src={Routes.static_path(@conn, "/images/kits-mindwendel-logo-blue.svg")}
              class="nav-mindwendel-logo"
            />
          <% end %>
        <% end %>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarDropdownToggler"
          aria-controls="navbarDropdownToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarDropdownToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-white">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">
                <%= gettext("New brainstorming") %>
              </a>
            </li>

            <%= if assigns[:current_user] do %>
              <li class="nav-item dropdown d-none d-lg-block bg-white">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  <%= gettext("Your brainstormings") %>
                </a>
                <ul class="dropdown-menu">
                  <%= for brainstorming <- list_brainstormings_for(@current_user, 10) do %>
                    <a
                      class={"dropdown-item #{ if assigns[:brainstorming].id == brainstorming.id, do: "active", else: "" }"}
                      href={Routes.brainstorming_show_path(@conn, :show, brainstorming)}
                    >
                      <%= brainstorming.name %>
                    </a>
                  <% end %>
                </ul>
              </li>

              <li class="nav-item"><hr class="dropdown-divider" /></li>
              <%= for brainstorming <- list_brainstormings_for(@current_user, 10) do %>
                <li class="nav-item d-lg-none">
                  <a
                    class={"nav-link #{if assigns[:brainstorming].id == brainstorming.id, do: "active", else: "" }"}
                    href={Routes.brainstorming_show_path(@conn, :show, brainstorming)}
                  >
                    <%= brainstorming.name %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
