<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <.live_title>
      <%= assigns[:page_title] || "Mindwendel" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-light">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom mb-2">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarDropdownToggler"
          aria-controls="navbarDropdownToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarDropdownToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-white">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">
                <%= gettext("New brainstorming") %>
              </a>
            </li>

            <%= if assigns[:current_user] do %>
              <li class="nav-item dropdown d-none d-lg-block bg-white">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  <%= gettext("Your brainstormings") %>
                </a>
                <ul class="dropdown-menu"></ul>
              </li>

              <li class="nav-item"><hr class="dropdown-divider" /></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
